<ul id="list">
    <li class="list-item"><a href="">Link 1</a></li>
    <li class="list-item"><a href="">Link 2</a></li>
    <li class="list-item"><a href="">Link 3</a></li>
    <li class="list-item"><a href="">Link 4</a></li>
    <li class="list-item"><a href="">Link 5</a></li>
</ul>