<!-- 1. Expand the "div" abbreviation with two different methods. -->
<div></div>
<div></div>
<div></div>


<!-- 2. -Create an h1 heading abbreviation with an id of "title" and expand it.  
        -Create a paragraph abbreviation with a class of "description" and expand it.
        -Create a section abrreviation with an id of "header" and a class "section" and expand it.
-->
<h1 id="title"></h1>
<p class="description"></p>
<section id="header" class="section"></section>



<!-- 3. Create an "article" abbreviation that contains a "div" element as a child. The div element must also contain the child h2 heading.  -->
<article>
    <div>
        <h2></h2>
    </div>
</article>



<!-- 4. Create a "main" abbreviation that must contain the "header" and "footer" abbreviations on the same level. -->
<main>
    <header></header>
    <footer></footer>
</main>



<!-- 5. Create a "ul" abbreviation. it must contain seven list items inside it. -->
<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>



<!-- 6. Create a "section" abbreviation. It must contain h4 heading and a paragraph on the same level. -->
<section>
    <h4></h4>
    <p></p>
</section>



<!-- 7. Create a "nav" abbreviation. It must contain the h6 heading and a div element on the same level. The div element also must contain the ordered list with four items inside it.  -->
<nav>
    <h6></h6>
    <div>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>
</nav>