<nav>
    <ul>
        <li class="nav-item1"></li>
        <li class="nav-item2"></li>
        <li class="nav-item3"></li>
        <li class="nav-item4"></li>
        <li class="nav-item5"></li>
    </ul>
</nav>

<ul>
    <li class="nav-item1">The number of item is 1</li>
    <li class="nav-item2">The number of item is 2</li>
    <li class="nav-item3">The number of item is 3</li>
    <li class="nav-item4">The number of item is 4</li>
    <li class="nav-item5">The number of item is 5</li>
    <li class="nav-item6">The number of item is 6</li>
    <li class="nav-item7">The number of item is 7</li>
</ul>

<p>That is the paragraph number 1</p>
<p>That is the paragraph number 2</p>
<p>That is the paragraph number 3</p>
<p>That is the paragraph number 4</p>
<p>That is the paragraph number 5</p>

<div>This is the div number 01</div>
<div>This is the div number 02</div>
<div>This is the div number 03</div>
<div>This is the div number 04</div>
<div>This is the div number 05</div>
<div>This is the div number 06</div>

<ol>
    <li class="nav-item3"></li>
    <li class="nav-item4"></li>
    <li class="nav-item5"></li>
    <li class="nav-item6"></li>
</ol>