<!-- Every taks must be accomplished using only single abbreviation! -->

<!-- 1. Create a paragraph abbreviation and expand it with lorem ipsum dummy text
        -Create an unordered list abbreviation with 3 list items. Each list item must have 4 lorem ipsum words inside it. -->    

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque libero obcaecati omnis fuga aliquam laboriosam aliquid totam odio ullam, nesciunt voluptate quas, dolorem vitae veniam. Magni aspernatur sed sequi voluptatibus.</p>

        <ul>
            <li>Lorem ipsum dolor sit.</li>
            <li>Quis aliquam dolorem numquam!</li>
            <li>Deleniti quas doloribus placeat!</li>
        </ul>


<!-- 2. Create the div element abbreviation. It must contain the ordered list with 5 list items and the h1 heading. The ordered list and the h1 must be on the same level. Use the Emmet climbing feature to achieve that. -->

<div>
    <ol>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
    <h1></h1>
</div>

<!-- 3. Create a table abbreviation. The table must contain thead, tbody and tfoot elements. The thead element must have 2 table rows and 3 table head items inside each row. The tbody and tfoot elements must contain 2 table rows and 3 table data items inside each row. Use the Emmet's Grouping feature to solve the task. -->

<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>

<!-- 4. Create a button abbreviation. The button must have the type attribute set to submit.
        -Create an input element. The type attribute of the input must be set to radio. The input must also have the id attribute set to "active" and the class attribute set to "input-active". Use the Emmet's Attribute feature to solve the task. -->

<button type="submit"></button>

<input type="radio" id="active" class="input-active">

<!-- 5. Create 5 div elements. Each element must have a text "This element has a number of $". Instead of the dollar sign the number must be inserted. Each new div element must have the number which is bigger than in the previous div. Use the Emmet's Numbering feature to solve the task. -->

<div>This element has a number of 1</div>
<div>This element has a number of 2</div>
<div>This element has a number of 3</div>
<div>This element has a number of 4</div>
<div>This element has a number of 5</div>

<!-- Bonus task. Higher difficulty. Must be solved with a single abbreviation.

    1. Create a table element with a "data-table" attribute set to "expanded".

    2. The table must have the thead and the tbody elements. The thead element must have a table row with a class of "head-row". 

    3. Inside the table row there must be 5 th elements with a class of "cell-title$" where instead of the dollar sign you must insert and increment the number in every th element. 

    4. Each th element must contain one lorem ipsum word.

    5. The tbody element must contain the table row with a class of "body-row". 

    6. Inside the table row there must be 5 table data items with a class of "cell-item$" where instead of the dollar sign the nubmer must be inserted and incremented. The incrementation must start from the number "11". 

    7. Each table data item must have the lorem ipsum text content consisting of 3 words. 
-->

<table data-table="expanded">
    <thead>
        <tr class="head-row">
            <th class="cell-title1">Lorem.</th>
            <th class="cell-title2">Omnis?</th>
            <th class="cell-title3">Iure!</th>
            <th class="cell-title4">Dolor.</th>
            <th class="cell-title5">Sequi?</th>
        </tr>
    </thead>
    <tbody>
        <tr class="body-row">
            <td class="cell-item11"></td>
            <td class="cell-item12"></td>
            <td class="cell-item13"></td>
            <td class="cell-item14"></td>
            <td class="cell-item15"></td>
        </tr>
    </tbody>
</table>