<!-- Practice the below tasks with the Emmet commands you have learned in this module -->

<!-- 1. Wrap the td items with tr, tbody and table elements so that the table structure would be correct -->

<table>
    <tbody>
        <tr>
            <td>Table cell 1</td>
            <td>Table cell 2</td>
            <td>Table cell 3</td>
            <td>Table cell 4</td>
        </tr>
    </tbody>
</table>

<!-- 2. Wrap the "a" items with li and ul elements so that we would have a correct unordered list. Do this using only single command. -->

<ul>
    <li><a href="">Link item 01</a></li>
    <li><a href="">Link item 02</a></li>
    <li><a href="">Link item 03</a></li>
    <li><a href="">Link item 04</a></li>
    <li><a href="">Link item 05</a></li>
</ul>

<!-- 3. Convert the definition list to the ordered list using the "Udpate tag" command -->

<ol class="list">
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
</ol>

<!-- 4. Delete the "div" element with Emmet's "Remove tag" command -->

<section>
    <article>
        
        <h1>Article title</h1>
        <p>Description text</p>
    
    </article>
</section>

<!-- 5. Use the Emmet's "Go to matching pair" command to switch to the closing part of the paragraph element. There you will see a div with a sentence and a math expression inside it. Use the Emmet's special command to evaluate math expression. -->

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, nemo voluptates, necessitatibus recusandae sapiente mollitia pariatur nobis natus ipsa dolorem unde molestiae, doloremque commodi tempore iusto quibusdam non animi quam neque? Provident est iure a eos, cum quis deserunt aperiam iusto recusandae officia architecto quia nesciunt, ut, itaque sapiente. Asperiores doloribus quod quos itaque explicabo magnam eos debitis repudiandae accusantium quam ut nihil magni rerum officiis illo quibusdam, minus exercitationem quaerat nulla consequatur. Dignissimos quis in hic facilis obcaecati assumenda velit nisi tempora ut deserunt deleniti veritatis ipsum, labore est porro dolorum tempore qui saepe, facere eius. Earum similique vel totam aspernatur accusantium voluptate voluptatem facilis asperiores blanditiis, repellendus numquam architecto nesciunt, iusto sequi accusamus quisquam ad? Consequuntur repellendus ut quasi quae itaque eveniet exercitationem. Et minus id quibusdam quasi, delectus mollitia tempore rerum eligendi architecto aspernatur totam aut libero distinctio sint ipsam eos! Perferendis officiis non doloremque necessitatibus aut sed fugit officia et reprehenderit, modi recusandae neque explicabo nam debitis dolore. Labore quia accusamus porro perferendis dolore consequatur, saepe voluptatum eius, aspernatur in explicabo vero quae. Accusantium quam dicta expedita ea laborum quisquam, vel culpa ab praesentium in similique quos velit voluptatem ipsa illo recusandae incidunt, sunt et ad nesciunt, aliquid nobis accusamus. Deserunt delectus perspiciatis aut earum. Id, nulla. Distinctio animi laborum officiis, dolorem suscipit eligendi impedit labore libero dolorum cupiditate illo autem architecto. Enim magnam fugiat hic sit blanditiis, minus alias, cum, veniam cumque quidem laborum. Quo unde ipsa voluptatum atque, fuga odit qui placeat error nemo aliquid voluptate commodi quidem eius aperiam iste, repellat porro molestias reprehenderit iure alias animi rem. Deleniti quos nam quia ipsam minima nemo, sed animi aperiam odio. Cumque, ullam animi officiis numquam quae inventore impedit quibusdam rem aut, hic sunt molestias modi vitae obcaecati soluta unde ipsum deserunt harum fugit dicta neque repellat eaque. Exercitationem repellendus praesentium, perferendis ab consectetur iure. Voluptatem, quae sit. Earum provident odio porro maxime excepturi, distinctio est omnis molestias aliquam quod quis reiciendis incidunt, qui quam quibusdam necessitatibus. Iste voluptate numquam quod repellendus doloremque est, neque maxime a itaque nemo inventore voluptas consectetur eius asperiores unde nulla repudiandae hic sint ex distinctio corporis modi sunt. Sunt deserunt recusandae excepturi ullam similique adipisci ex architecto non, sit, mollitia quod provident laudantium facere. Perspiciatis rem aliquam amet nostrum iste debitis corrupti odit reprehenderit maiores, blanditiis, at nisi ipsam minima autem, itaque sint repellat sit quos quaerat rerum? Molestias.</p>
<div>There are 7 apples inside the basket.</div>





