<ul>
    <li></li>
    <li></li>
</ul>
<p></p>

<section>
    <h1><span></span></h1>
</section>
<footer></footer>

<table>
    <thead>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>