<section>
    <ol>
        <li></li>
        <li></li>
        <li></li>
    </ol>
    <article>
        <p></p>
    </article>
</section>

<table>
    <thead>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>