<!-- Emmet final examination assignment -->

<!-- 1. -Create an article element with a class of "post-item". 
    
    -The article element must contain h1 heading with an id of "title", an unordered list with 4 list items and 3 words inside each item, and a paragraph element with 5 words. 
    
    -The h1 heading, unordered list and a paragraph must be on the same level. The order in which the elements appear: the h1 heading goes first, the unordered list goes second and the paragraph goes third.
    
    -All this must be created using only single abbreviation.
    
    -After you have created the abbreviation use the Emmet's "Update tag" command to change the unordered list into the ordered list. -->

<article class="post-item">
  <h1 id="title"></h1>
  <ol>
    <li>Lorem, ipsum dolor.</li>
    <li>Provident, sunt officiis!</li>
    <li>Aliquid, quisquam laborum.</li>
    <li>Quo, voluptate doloremque!</li>
  </ol>
  <p>Lorem ipsum dolor sit amet.</p>
</article>

<!-- 2. -Create a form element with an id of "form", class "input-form" and a "data-submit" attribute with a value of "post".  
    
    -The form element must contain 4 div elements with a class of "form-row" and a button element at the end with the type attribute set to "submit" and a text "Submit button". The divs and the button must be on the same level.
    
    -Each div element must contain a label with a "for" attribute, some value inside it and 1 word, and an input field with an "id" and "name" attributes that must be the same as the label's "for" value. Labels and inputs must be on the same level. 
    
    -The second div's input must have it's type set to checkbox. The third div's input must have it's type set to radio. The fourth div's input must have it's type set to email. 
    
    -All this must be created with a single abbreviation. 

    -After the abbreviation was expanded, the fourth div's input element must be removed with Emmet's "Remove tag" command. The textarea element must be added at the removed input's place with the same id and name attributes and a maxlength attribute set to "200". -->

<form action="" id="form" class="input-form" data-submit="post">
  <div><label for="one"></label><input type="text" id="one" name="one" /></div>
  <div>
    <label for="two"></label><input type="checkbox" id="two" name="two" />
  </div>
  <div>
    <label for="three"></label><input type="radio" id="three" name="three" />
  </div>
  <div>
    <label for="four"></label>
    <textarea name="four" id="four" cols="30" rows="10" maxlength="200"></textarea>
  </div>
  <button type="submit">Submit button</button>
</form>

<!-- 3. Create a section element with a class of "main". The section element  must contain the definition list element with the "data-list" attribute and the table element with the id of "table". The definition list and the table must be on the same level.

-The definition list element must contain 3 definition term items with the word "Term" and a number comprised of two digits inside it. And 3 definition description items with a word "Description" and a number with a single digit inside it. The numbers must be incremented with each new item. Use the Emmet's Numbering feature for incrementation. 

-The table element must contain the thead and tbody elements. 

-The thead element must contain a table row with 4 table head items inside it.

-Each th element must have the "Head title" text inside it and a single digit next to it, incremented with each new th element. Use the Emmet's Numbering feature for incrementation.  

- The tbody element must contain 3 table row elements. Inside each table row element there must be 4 table data items.

-Each td element must have an input element inside it. 

-All this must be created with a single abbreviation.  

-After the abbreviation was expanded, you must wrap the definition list with the div element using Emmet's "Wrap with abbreviation" command.

-After the abbreviation was expanded, you must wrap all the input elements inside tds with a span element. Use one of Emmet's "Wrap with abbreviation" commands to achieve that. -->

<section class="main">
    <div>
        <dl data-list="">
            <dt>Term 01</dt>
            <dd>Description 1</dd>
            <dt>Term 02</dt>
            <dd>Description 2</dd>
            <dt>Term 03</dt>
            <dd>Description 3</dd>
        </dl>
    </div>
    <table id="table">
        <thead>
            <tr>
                <th>Head title 1</th>
                <th>Head title 2</th>
                <th>Head title 3</th>
                <th>Head title 4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span><input type="text"></span></td>
                <td><span><input type="text"></span></td>
                <td><span><input type="text"></span></td>
                <td><span><input type="text"></span></td>
            </tr>
            <tr>
                <td><span><input type="text"></span></td>
                <td><span><input type="text"></span></td>
                <td><span><input type="text"></span></td>
                <td><span><input type="text"></span></td>
            </tr>
            <tr>
                <td><span><input type="text"></span></td>
                <td><span><input type="text"></span></td>
                <td><span><input type="text"></span></td>
                <td><span><input type="text"></span></td>
            </tr>
        </tbody>
    </table>
</section>