<img src="" alt="" title="My image">
<div title="My div"></div>

<div data-attr="Click"></div>

<input type="checkbox">
<input type="checkbox" name="" id="">
<input type="checkbox" name="" id="">
<input type="radio" name="" id="">

<input type="checkbox" id="one" class="inp" data-attr="input">

