
  <nav>
      <ul>
        <li><a href="">Link 1</a></li>
        <li><a href="">Link 2</a></li>
        <li><a href="">Link 3</a></li>
        <li><a href="">Link 4</a></li>
      </ul>
  </nav>

  <p>
      Lorem ipsum dolor sit amet.
  </p>

  <section>
      <h1></h1>
      <div></div>
  </section>

  <span>
      <div id="one" class="two">
          Lorem ipsum dolor sit.
      </div>
  </span>

