<section class="wrapper">
  <article class="post">
    <h1 class="title"></h1>
    <p class="description">
      <span class="red"></span>
      <span class="blue"></span>
    </p>
  </article>
</section>

<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>

<!-- Emmet -->

<section class="wrapper">
  <article class="post">
    <h1 class="title"></h1>
    <p class="description">
      <span class="red"></span><span class="blue"></span>
    </p>
  </article>
</section>

<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
</table>
